gunicorn>=21.2.0
whitenoise>=6.6.0
Django>=5.0.0
django-cors-headers>=4.3.0
djangorestframework>=3.14.0
asgiref>=3.8.0
sqlparse>=0.5.0
annotated-doc
anyio
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
decorator
ffmpeg-python
filelock
fsspec
future
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
joblib
lazy-loader
librosa
llvmlite
markdown-it-py
MarkupSafe
mdurl
mpmath
msgpack
narwhals
networkx
numba
numpy
packaging
platformdirs
pooch
pycparser
Pygments
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
setuptools
shellingham
soundfile
soxr
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
